@import url(./home.css);

/* HOME PROFESSOR */

.div_turmas{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: start;
    margin-top: 2rem;
    padding: 2rem;
    width: 80%;
    min-height: 60vh; /* Adiciona uma altura mínima de 60% da viewport height */
    background-color: whitesmoke;
}

#title_section_turmas {
    font-family: var(--fonte-texto);
    font-size: 30px;
    margin: 2rem 0 2rem 0;
}

#sem_turmas_msg {
    font-family: var(--fonte-texto);
    font-size: 30px;
    margin-bottom: 1rem;
}

/* STYLE LISTA TURMAS */

.turmas_lista {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#lista_turmas {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100vh;
    align-items:center;
    font-size: 18px;
}

#lista_turmas li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    border-radius: 5px;
    background-color: beige;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}

#lista_turmas li:hover {
    background-color: rgb(220, 220, 198);
    transition: 0.5s;
}

#lista_turmas a{
    text-decoration: none;
    color: inherit;
}

.li_turma {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(234, 234, 234);
}

#info_turma {
    color: var(--cor-texto);
}

.buttons_li a{
    margin-right: 1rem;
}

#ver-btn{
    border: 1px solid var(--cor-destaque);
    border-radius: 8px;
    padding: 0.2rem 1rem;
    background-color: var(--cor-destaque);
}

#edit-btn{
    border: 1px solid rgb(0, 135, 224);
    border-radius: 8px;
    padding: 0.2rem 1rem;
    background-color: rgb(0, 135, 224);
}

#delete-btn{
    border: 1px solid rgb(222, 0, 0);
    border-radius: 8px;
    padding: 0.2rem 1rem;
    background-color: rgb(222, 0, 0);
}

/* STYLE CRIAR TURMAS*/

.criar_turma {
    background-color: whitesmoke;
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
    border-radius: 10px;
    box-shadow: -2px 10px 5px 1px rgba(0, 0, 0, 0.2)
}

#title_criar_turma {
    font-family: var(--fonte-titulo);
    font-size: 30px;
    margin: 2rem 0 2rem 0;
}

#form_criar_turma {
    margin-bottom: 1.5rem;
    width: 50%;
}

.form-group {
    margin: 1rem 0;
    font-size: 20px;
}

.form-group input{
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 40%;
    text-align: center;
    font-size: 16px;
}

.form-group textarea{
    width: 80vh;  /* Define a largura da textarea */
    height: 150px; /* Define a altura da textarea */
    resize: none;  /* Opcional: impede o redimensionamento manual */
    padding: 10px; /* Adiciona um espaçamento interno para o texto */
    font-size: 16px; /* Define o tamanho da fonte dentro da textarea */
    border: 1px solid #ccc; /* Estiliza a borda */
    border-radius: 5px; /* Borda arredondada */

    margin-top: 1rem;
}

#button {
    display: flex;
    justify-content: center;
}

#button_forms {
    border: 2px solid var(--cor-destaque);
    background-color: var(--cor-destaque);
    color: var(--cor-btn-texto);
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    transform: scale(1.1);
    width: 30%;
    cursor: pointer;
    transition: 0.5s;
}

#button_forms:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* STYLE EDITAR TURMA */

.editar_turma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title_editar {
    text-align: center;
    font-size: 35px;
    margin-top: 2rem;
}
