<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Turma</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/professor.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <header class="cabecalho">
        <div class="container">
            <div id="container_icons">
                <nav>
                    <ul class="ul-icons">
                        <li class="icons_header dropdown">
                            <i class="bi bi-person-circle" id="profile-icon"></i>

                            <div id="profile-menu" class="dropdown-menu">
                                <a href=""><i class="bi bi-pencil-square"></i>Editar perfil</a>
                                <a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-left"></i>Desconectar</a>
                            </div>
                        </li>

                        <a href="/professor" id="voltar"><i class="bi bi-arrow-left-circle"></i></a>

                    </ul>
                </nav>
            </div>

            <ul class="ul-menu">
                <div class="div_title_header">
                    <h1 id="title_header">SALA VIRTUAL</h1>
                </div>
            </ul>

        </div>
    </header>

    <section class="editar_turma">
        <h1 id="title_editar">Editar Turma</h1>
        <div class="criar_turma">
            <form id="form_criar_turma" action="/edit_turma/{{ turma.id }}" method="POST">
                <div class="form-group">
                    <label for="nome_turma">Nome da Turma: </label>
                    <input type="text" id="nome" name="nome" value="{{ turma.nome }}" required>
                </div>
                <div class="form-group">
                    <label for="codigo_acesso">Código de Acesso: </label>
                    <input type="text" id="codigo_acesso" name="codigo_acesso" value="{{ turma.codigo_acesso }}" required>
                </div>
                
                <div>
                    <button id="button_forms" type="submit">Salvar Alterações</button>
                </div>
                
            </form>
        </div>
    </section>
    
    <footer>
        <div id="div_footer">
            <p>SALA VIRTUAL</p>
            <p id="p_footer">Desenvolvido por Gustavo Oki e Jorge Henrique Lessa</p>
        </div>
    </footer>
</body>
</html>
