<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turma</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}"/>

    <script src="../../static/js/turma.js"></script>
</head>
<body>
    <header class="cabecalho">
        <div class="container">
            <div id="container_icons">
                <nav>
                    <ul class="ul-icons">
                        <li class="icons_header dropdown">
                            <i class="bi bi-person-circle" id="profile-icon"></i>

                            <div id="profile-menu" class="dropdown-menu">
                                <a href=""><i class="bi bi-pencil-square"></i>Editar perfil</a>
                                <a href=""><i class="bi bi-box-arrow-left"></i>Desconectar</a>
                            </div>

                            
                        </li>

                        <a href="/professor" id="voltar"><i class="bi bi-arrow-left-circle"></i></a>

                    </ul>
                </nav>
            </div>

            <ul class="ul-menu">
                <div class="div_title_header">
                    <h1 id="title_header">SALA VIRTUAL</h1>
                </div>
            </ul>

        </div>
    </header>

    <section class="section_painel">
        <div class="painel">

            <!-- Formulário para adicionar nova tarefa -->
            <form id="form-upload" enctype="multipart/form-data" action="/turma" method="POST">
                <label for="conteudo" class="custom-file-upload">
                    <i class="bi bi-cloud-upload"></i> Escolher arquivo
                </label>

                <input type="file" name="conteudo" id="conteudo" accept=".pdf,.doc,.docx,.xls,.xlsx,.txt" required />
                
                <p id="file-selected-msg" style="display: none;">Arquivo selecionado: <span id="file-name"></span></p>
                
                <button type="submit" value="Adicionar Tarefa" id="btn_add">Enviar</button>
            </form>

            <div class="conteudos">
                <h1>Lista de Tarefas</h1>

                <!-- Exibe uma mensagem se não houver tarefas -->
                {% if tarefas | length < 1 %}
                <p>Não há tarefas... Crie uma aqui!</p>
                {% else %}
                <!-- Tabela de tarefas -->
                <table>
                    <tr>
                        <th>Tarefa</th>
                        <th>Adicionada</th>
                        <th>Ações</th>
                    </tr>
                    {% for tarefa in tarefas %}
                    <tr>
                        <td>{{ tarefa.conteudo }}</td>
                        <td>{{ tarefa.criado.strftime("%d-%m-%Y") }}</td>
                        <td>
                            <!-- Links para editar e excluir -->
                            <a href="/edit/{{ tarefa.id }}" >Editar</a>
                            <a href="/delete/{{ tarefa.id }}" class="delete-btn">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </section>    

    <footer>
        <div id="div_footer">
            <p>SALA VIRTUAL</p>
            <p id="p_footer">Desenvolvido por Gustavo Oki e Jorge Henrique Lessa</p>
        </div>
    </footer>
</body>
</html>