<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFESSOR</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/professor.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Link para o arquivo JavaScript -->
    <script src="../../static/js/professor.js"></script>
</head>

<body>
    <header class="cabecalho">
        <div class="container">
            <div id="container_icons">
                <nav>
                    <ul class="ul-icons">
                        <li class="icons_header dropdown">
                            <i class="bi bi-person-circle" id="profile-icon"></i>

                            <div id="profile-menu" class="dropdown-menu">
                                <a href="/editar_perfil/{{user.id}}"><i class="bi bi-pencil-square"></i>Editar perfil</a>
                                <a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-left"></i>Desconectar</a>
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>

            <ul class="ul-menu">
                <div class="div_title_header">
                    <h1 id="title_header">SALA VIRTUAL</h1>
                </div>
            </ul>

        </div>
    </header>

    <section class="section_menu">
        <h2 class="title_user_section">Olá, Prof. {{ user.nome }}!</h2>


        <div class="div_turmas">
            <h2 id="title_section_turmas">Acesse aqui a(s) sua(s) turma(s):</h2>
        
            <div class="turmas_lista">
                <!-- Aqui é onde as turmas serão listadas dinamicamente -->
                <ul id="lista_turmas">
                {% if turmas | length < 1 %}
                    <p id="sem_turmas_msg">Nenhuma turma disponível no momento...</p>
                    {% else %}
                        {% for turma in turmas %}
                            <li class="li_turma">
                                <div>
                                    <p id="info_turma">{{ turma.nome }}: Prof. {{turma.professor}}</p>
                                </div>
                                <div class="buttons_li">
                                    <a href="/turma/{{ turma.id }}" id="ver-btn">Ver</a>
                                    <a href="/edit_turma/{{ turma.id }}" id="edit-btn">Editar</a><a href="/delete_turma/{{ turma.id }}" id="delete-btn">Excluir</a>
                                </div>
                            </li>
                        {% endfor %}    

                    {% endif %}
                </ul>
            </div>
            
        </div>

        <div class="criar_turma">
            <h2 id="title_criar_turma">Deseja criar uma nova turma?</h2>
            
            <form id="form_criar_turma" action="/professor/{{user.id}}" method="POST">
                <div class="form-group">
                    <label for="nome_turma">Nome da Turma: </label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="codigo_acesso">Código de Acesso: </label>
                    <input type="text" id="codigo_acesso" name="codigo_acesso" required>
                </div>
                <div id="button">
                    <button id="button_forms" type="submit">Criar Turma</button>
                </div>
            </form>
        </div>
        
    </section>

    <footer>
        <div id="div_footer">
            <p>SALA VIRTUAL</p>
            <p id="p_footer">Desenvolvido por Gustavo Oki e Jorge Henrique Lessa</p>
        </div>
    </footer>

</body>
</html>
