<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/tarefa.css')}}"/>

    <script src="../../static/js/tarefa.js"></script>
</head>
<body>
    <header class="cabecalho">
        <div class="container">
            <div id="container_icons">
                <nav>
                    <ul class="ul-icons">
                        <li class="icons_header dropdown">
                            <i class="bi bi-person-circle" id="profile-icon"></i>

                            <div id="profile-menu" class="dropdown-menu">
                                <a href=""><i class="bi bi-pencil-square"></i>Editar perfil</a>
                                <a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-left"></i>Desconectar</a>
                            </div>
                            
                        </li>

                        <a href="{% if tipo_perfil == 'professor' %}/turma/{{ turma.id }}{% elif tipo_perfil == 'aluno' %}/turma/{{ turma.id }}{% endif %}" id="voltar">
                            <i class="bi bi-arrow-left-circle"></i>Voltar
                        </a>

                    </ul>
                </nav>
            </div>

            <ul class="ul-menu">
                <div class="div_title_header">
                    <h1 id="title_header">SALA VIRTUAL</h1>
                </div>
            </ul>

        </div>
    </header>

    <section class="section_painel">

        <div class="div_tarefas">
        
            <div class="tarefas_lista">
                <h1>{{ tarefa.titulo }}</h1>
                <p id="descricao_tarefa">{{ tarefa.descricao }}</p>
                {% if tarefa.arquivo %}
                    <a href="{{ url_for('download_arquivo', id=tarefa.id) }}" id="button">Baixar arquivo</a>
                {% else %}
                    <p>Sem arquivo anexado.</p>
                {% endif %}
            </div>  
        </div>

    </section>    

    <footer>
        <div id="div_footer">
            <p>SALA VIRTUAL</p>
            <p id="p_footer">Desenvolvido por Gustavo Oki e Jorge Henrique Lessa</p>
        </div>
    </footer>
</body>
</html>