<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turma</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}"/>

    <script src="../../static/js/turma.js"></script>
</head>
<body>
    <header class="cabecalho">
        <div class="container">
            <div id="container_icons">
                <nav>
                    <ul class="ul-icons">
                        <li class="icons_header dropdown">
                            <i class="bi bi-person-circle" id="profile-icon"></i>

                            <div id="profile-menu" class="dropdown-menu">
                                <a href=""><i class="bi bi-pencil-square"></i>Editar perfil</a>
                                <a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-left"></i>Desconectar</a>
                            </div>
                            
                        </li>

                        <a href="/professor" id="voltar"><i class="bi bi-arrow-left-circle"></i></a>

                    </ul>
                </nav>
            </div>

            <ul class="ul-menu">
                <div class="div_title_header">
                    <h1 id="title_header">SALA VIRTUAL</h1>
                </div>
            </ul>

        </div>
    </header>

    <section class="section_painel">
        <div class="painel">

            <!-- Formulário para adicionar nova tarefa -->
            <form id="form-upload" enctype="multipart/form-data" action="/turma/{{ turma.id }}" method="POST">
                <label for="conteudo" class="custom-file-upload">
                    <i class="bi bi-cloud-upload"></i> Escolher arquivo
                </label>

                <input type="file" name="conteudo" id="conteudo" accept=".pdf,.doc,.docx,.xls,.xlsx,.txt" required />
                
                <p id="file-selected-msg" style="display: none;">Arquivo selecionado: <span id="file-name"></span></p>
                
                <button type="submit" value="Adicionar Tarefa" id="btn_add">Enviar</button>
            </form>

            <div class="conteudos">
                <h1>Lista de Tarefas da Turma: {{ turma.nome }}</h1>
                <ul id="lista_conteudos">
                    {% if tarefas | length < 1 %}
                        <p id="sem_ctd_msg">Nenhum conteúdo disponível no momento...</p>
                    {% else %}
                        {% for tarefa in tarefas %}
                        <li class="li_conteudos">
                            <div>
                                <p id="info_conteudo">{{ tarefa.conteudo }} ({{ tarefa.criado.strftime("%d-%m-%Y") }})</p>
                            </div>
                            <div class="buttons_li">
                                <a href="/uploads/{{ tarefa.conteudo }}" id="download-btn" download="{{ tarefa.conteudo }}">Baixar</a>
                                <a href="/edit/{{ tarefa.id }}" id="edit-btn">Editar</a>
                                <a href="/delete/{{ tarefa.id }}" id="delete-btn">Excluir</a>
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>    

    <footer>
        <div id="div_footer">
            <p>SALA VIRTUAL</p>
            <p id="p_footer">Desenvolvido por Gustavo Oki e Jorge Henrique Lessa</p>
        </div>
    </footer>
</body>
</html>